*{
  z-index: 101;
}
.encabezado {
  position: fixed;
  font-family: Arial;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e72727;
  padding: 0px;
  text-align: center;
  z-index: 1000;
}

body{
    margin: 0%;
    width: auto;
    height: auto;


}
a{
  text-decoration: none;
  color: black;
 
}

header{
    display: flex;
    height: 130px;
    background-color: rgb(248, 10, 10);
    justify-content: space-between;
    align-items: center;
    padding: 60px;

  
}
.logo{
    display: flex;
    align-items: center;
  }

.logo img{
    z-index: 102;
    height: 130px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
  padding: 300px;
  background-color: rgb(212, 210, 210);
} 